:root {
    --bg-color: #fff;
    --bg-secondary-color: #d2d6dd;
    --color-primary: #14854f;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #bd0804;
    --color-success: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #333;
    --font-family-sans: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --bg-secondary-color: #262626;
        --color-primary: #16884e;
        --color-grey: #bbb;
        --color-darkGrey: #888;
        --color-error: #d1706c;
        --font-color: #f5f5f5;
    }
    input[type="text"] {
        background-color: var(--color-lightGrey);
    }
    a {
       color:#5A60FB;
    }
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    background-color: var(--bg-color);
    line-height: 1.6;
    font-size: var(--font-size);
    color: var(--font-color);
    font-family: Segoe UI, Helvetica Neue, sans-serif;
    font-family: var(--font-family-sans);
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: 500;
    margin: .35em 0 .7em;
    font-size: 2em;
}
p {
    margin-top: 0;
}
dl dt {
    font-weight: 700;
}
hr {
    background-color: var(--color-lightGrey);
    height: 1px;
    margin: 1rem 0;
    border: none;
}
code {
    font-family: var(--font-family-mono);
    font-size: 90%;
    white-space: pre-wrap;
    border-radius: 4px;
    padding: .2em .4em;
    color: var(--color-error);
    background-color: var(--bg-secondary-color);
}
.container {
    max-width: var(--grid-maxWidth);
    margin: 0 auto;
    width: 96%;
    padding: 0 calc(var(--grid-gutter)/2);
}
@media screen and (max-width: 599px) {
    .container {
        width: 100%;
    }
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=color]):not([type=button]):not([type=reset]) {
    font-family: inherit;
    padding: .8rem 1rem;
    border-radius: 4px;
    border: 1px solid var(--color-lightGrey);
    font-size: 1em;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    display: block;
    width: 100%;
}
input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=color]):not([type=button]):not([type=reset]):focus {
    outline: none;
    border-color: var(--color-primary);
    -webkit-box-shadow: 0 0 1px var(--color-primary);
    box-shadow: 0 0 1px var(--color-primary);
}
[type=checkbox] {
    width: 1.6rem;
    height: 1.6rem;
}
[type=submit] {
    padding: 1rem 2.5rem;
    color: var(--color-darkGrey);
    background: var(--color-lightGrey);
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: var(--font-size);
    line-height: 1;
    text-align: center;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    text-decoration: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    display: inline-block;
    cursor: pointer;
    color: #fff;
    z-index: 1;
    background-color: #000;
    background-color: var(--color-primary);
}
[type=submit]:hover {
    opacity: .8;
}
[type=submit]:active {
    -webkit-transform: scale(.98);
    transform: scale(.98);
}
input:disabled,
input:disabled:hover {
    opacity: .4;
    cursor: not-allowed;
}
::-webkit-input-placeholder {
    color: #bdbfc4;
}
::-moz-placeholder {
    color: #bdbfc4;
}
:-ms-input-placeholder {
    color: #bdbfc4;
}
::-ms-input-placeholder {
    color: #bdbfc4;
}
::placeholder {
    color: #bdbfc4;
}
.h2 {
    font-weight: 500;
    margin: .35em 0 .7em;
    font-size: 1.75em;
}
footer {
   position:fixed;
   bottom:0px;
}
